.App {
  font-family: 'Lato', sans-serif;
}
h1, h2, h3 {
  font-weight: 900;
  color: #636363;
}
h1 span, h2 span, h3 span, p, ul, li, a {
  font-weight: 300;
  color: #939393;
}

a:hover{
  color: #636363;
}
.wrapper {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.content{
  padding: 40px 10px;
  text-align: right;
}
.content h1, .content h2, .content h3 .content{
  text-align: right;
}

@media only screen and (max-width: 970px) {
  .wrapper{
    flex-direction: column
  }
}
